<div id='orders'>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='page-header'>
        <h1 class='pull-left'>
          <i class='icon-inbox'></i>
          <span>Devis</span>
        </h1>
      </div>
      <div class='row'>
        <div class='col-sm-12'>
          <a class="btn btn-success btn-block btn-lg" type="button" href="/quotes/new">Nouveau devis</a>
          <p></p>
          <div class='box'>
            <div class='box-content'> 
              <% @quotes.each do |quote| %>
                <tr>
                  <div class='col-sm-7'>
                      <div class='pull-left'>
                        <p>
                          <%= link_to(quote) do %>
                            <strong>#<%= quote.id %></strong>  <%= quote.title %>

                          <% end %>
                        </p>
                        <p>
                          <% @client=Client.find_by_id(quote.client_id) %>

                            <%= link_to(clients_path) do %>
                              <%=@client.first_name.capitalize%> <%=@client.last_name.capitalize %>                                            

                            <% end %>
                        </p>  
                      </div>
                      <div class='text-right pull-right'>
                        <h4 class='contrast price'><%= quote.total.to_d if quote.total!=nil %> €</h4>
                        <p>
                          <span><%= distance_of_time_in_words(Time.now, quote.created_at) %></span>
                          <i class='icon-time'></i>
                        </p>
                      </div>
                  </div>
                  <div class='col-sm-3'>
                   <div class='text-right pull-right'>
                    <a href="" class='' onclick="window.open('/visu_pdf/quote_visu.<%= quote.id %>','_blank');">Visualiser</a>
                      |
                    <a class='' data-toggle="modal" href="/quotes/<%= quote.id %>/invoice">Facturer</a>
                      |  
                    <%= link_to 'Supprimer', quote, method: :delete, data: { confirm: 'Etes vous sûr de vouloir supprimer ce devis?' } %>
                    
                   </div> 
                  </div> 
                  <div class='col-sm-2'>
                    <p>Statut</p>
                    <p><a data-toggle="modal" href="#modal-status_<%=quote.id%>"><span class="label 
                      <%="label-important" if quote.status==0%><%="label-warning" if quote.status==1%><%="label-success" if quote.status==2%>"><%="Devis refusé" if quote.status==0%><%="Devis en cours" if quote.status==1%><%="Devis accepté" if quote.status==2%></span></a></p>
                  </div>   
                     <div class='modal fade' id='modal-status_<%=quote.id%>' tabindex='1'>
                      <div class='modal-dialog'>
                        <div class='modal-content'>
                          <div class='modal-header'>
                            <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
                            <h4 class='modal-title' id='myModalLabel'>Modifier le statut du devis #<%=quote.id%> - <%=quote.title%></h4>
                          </div>
                          <div class='modal-body'>
                            <form class="form" style="margin-bottom: 0;" method="post" action="#" accept-charset="UTF-8"><input name="authenticity_token" type="hidden" />
                              <div class='form-group'>
                                <label for='status'>Statut</label>
                                <select class="form-control input-sm" data-rule-required="true" id="status_select_<%=quote.id%>" name="validation_select">
                                    <option <%= "selected" if quote.status==1 %>>Devis en cours</option>
                                    <option <%= "selected" if quote.status==2 %>>Devis accepté</option>
                                    <option <%= "selected" if quote.status==0 %>>Devis refusé</option>
                                </select>
                              </div>
                            </form>
                          </div>
                          <div class='modal-footer'>
                            <button class='btn btn-default' data-dismiss='modal' type='button'>Fermer sans modifier le statut</button>
                            <button class='btn btn-success' data-dismiss='modal' type='button' onclick="quoteStatus(<%= quote.id %>);">Modifier le statut</button>
                          </div>
                        </div>
                      </div>
                    </div>  
                  <div class='clearfix'></div>
                  <hr class='hr-normal'>
                </tr>
              <% end %>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <script type="text/javascript">
  $( document ).ready(function() {
    $("#nav_quote").toggleClass( 'active');
});

function quoteStatus(id) {
var status_select="status_select_"+id;
var status="";
    if (document.getElementById(status_select)==null){
      status=1;
    }
    else{
      if (document.getElementById(status_select).value=="Devis en cours") {
        status=1;
      };
      if (document.getElementById(status_select).value=="Devis accepté") {
        status=2;
      };
      if (document.getElementById(status_select).value=="Devis refusé") {
        status=0;
      };
    }
var url_send= "/quotes/"+id+"/status";  
var request=$.ajax({
url: url_send,
type: "PUT",
beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
data: {q_param: {
         status: status
       }}
});

request.done(finishStatus(id));
}

function finishStatus(id){
  var url_show;
  url_show="/quotes";
 window.location.replace(url_show);
}

  </script>


<br>