  <div class='row'>
    <div class='col-sm-12'>
      <div class='page-header'>
        <h1 class='pull-left'>
          <i class='icon-inbox'></i>
          <span>Devis</span>
        </h1>
      </div>

<a class="btn btn-success btn-block btn-lg" type="button" href="/quotes/new">Nouveau devis</a>
          <p></p>
        </div>
        </div>
 

 <div class='row'>
  <div class='col-sm-12'>
    <div class='box bordered-box orange-border' style='margin-bottom:0;'>
      <div class='box-content box-no-padding'>
        <div class='responsive-table'>
          <div class='scrollable-area'>
            <table class='data-table-column-filter table table-bordered table-striped' style='margin-bottom:0;'>
        <thead>
            <tr>
                <th width="25%">Titre du devis</th>
                <th width="20%">Nom du client</th>
                <th width="15%">Montant</th>
                <th width="15%">Date de création</th>
                <th width="15%">Statut</th>
                <th width="10%">Actions</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>Titre du devis</th>
                <th>Nom du client</th>
                <th>Montant</th>
                <th>Date de création</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </tfoot>
 
        <tbody>
            <% @quotes.each do |quote| %>
                <tr>
                  <td>
                          <%= link_to(quote) do %>
                            #<%= quote.id %>  <%= quote.title %> 

                          <% end %>
                </td>
                <td>
                  <% @client=Client.find_by_id(quote.client_id) %>

                  <%= link_to(clients_path) do %>
                    <%=@client.first_name.capitalize%> <%=@client.last_name.capitalize %>       
                  <% end %>
                </td>
                <td>
                        <% 
                        @tax_rate=quote.tax_rate
                        if @tax_rate==nil
                          @tax_rate=0
                        end 
                        %>
                        <%= quote.total.to_d*(1+@tax_rate.to_d) if quote.total!=nil %> € TTC
                </td>
                <td>
                          <span><%= distance_of_time_in_words(Time.now, quote.created_at) %></span>
                          <i class='icon-time'></i>
                </td>
                <td>
                  <a data-toggle="modal" href="#modal-status_<%=quote.id%>"><span class="label 
                      <%="label-important" if quote.status==0%><%="label-warning" if quote.status==1%><%="label-success" if quote.status==2%>"><%="Devis refusé" if quote.status==0%><%="Devis en cours" if quote.status==1%><%="Devis accepté" if quote.status==2%></span></a>
                </td>
                <td>
                  <h4>
                    <a href="" class='has-tooltip' data-placement="top" data-original-title="Visualiser"onclick="window.open('/visu_pdf/quote_visu.<%= quote.id %>','_blank');"><i class="icon-search"></i></a>
                      &nbsp;
                    <a class='has-tooltip' data-placement="top" data-original-title="Facturer" data-toggle="modal" href="/quotes/<%= quote.id %>/invoice"><i class="icon-money"></i></a>
                      &nbsp; 
                    <%= link_to '<i class="icon-trash"></i>'.html_safe, quote, method: :delete, data: { confirm: 'Etes vous sûr de vouloir supprimer ce devis?', placement: "top", original_title: "Supprimer" },class: 'has-tooltip' %>
                    </h4>
                     <div class='modal fade' id='modal-status_<%=quote.id%>' tabindex='1'>
                      <div class='modal-dialog'>
                        <div class='modal-content'>
                          <div class='modal-header'>
                            <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
                            <h4 class='modal-title' id='myModalLabel'>Modifier le statut du devis #<%=quote.id%> - <%=quote.title%></h4>
                          </div>
                          <div class='modal-body'>
                            <form class="form" style="margin-bottom: 0;" method="post" action="#" accept-charset="UTF-8"><input name="authenticity_token" type="hidden" />
                              <div class='form-group'>
                                <label for='status'>Statut</label>
                                <select class="form-control input-sm" data-rule-required="true" id="status_select_<%=quote.id%>" name="validation_select">
                                    <option <%= "selected" if quote.status==1 %>>Devis en cours</option>
                                    <option <%= "selected" if quote.status==2 %>>Devis accepté</option>
                                    <option <%= "selected" if quote.status==0 %>>Devis refusé</option>
                                </select>
                              </div>
                            </form>
                          </div>
                          <div class='modal-footer'>
                            <button class='btn btn-default' data-dismiss='modal' type='button'>Fermer sans modifier le statut</button>
                            <button class='btn btn-success' data-dismiss='modal' type='button' onclick="quoteStatus(<%= quote.id %>);">Modifier le statut</button>
                          </div>
                        </div>
                      </div>
                    </div>  
                  </td>
                </tr>
              <% end %>
        </tbody>
    </table>
  </div>  
  </div>
  </div>
    </div>  
  </div>
  </div>


  <script type="text/javascript">
  $( document ).ready(function() {
    $("#nav_quote").toggleClass('active');
});

function quoteStatus(id) {
var status_select="status_select_"+id;
var status="";
    if (document.getElementById(status_select)==null){
      status=1;
    }
    else{
      if (document.getElementById(status_select).value=="Devis en cours") {
        status=1;
      };
      if (document.getElementById(status_select).value=="Devis accepté") {
        status=2;
      };
      if (document.getElementById(status_select).value=="Devis refusé") {
        status=0;
      };
    }
var url_send= "/quotes/"+id+"/status";  
var request=$.ajax({
url: url_send,
type: "PUT",
beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
data: {q_param: {
         status: status
       }}
});

request.done(finishStatus(id));
}

function finishStatus(id){
  var url_show;
  url_show="/quotes";
 window.location.replace(url_show);
}


      $("#daterange2").daterangepicker({
        format: "MM/DD/YYYY"
      }, function(start, end) {
        return $("#daterange2").parent().find("input").first().val(start.format("MMMM D, YYYY") + " - " + end.format("MMMM D, YYYY"));
      });
      
  </script>


<br>