
  <div class='row'>
    <div class='col-sm-12'>
      <div class='page-header'>
        <h1 class='pull-left'>
          <i class='icon-inbox'></i>
          <span>Factures</span>
        </h1>
      </div>
    </div>
  </div>
      <div class='row'>
        <div class='col-sm-12'>
          <a data-toggle="modal" class="btn btn-success btn-block btn-lg" type="button" href="#modal-new">Nouvelle prestation à facturer</a>
         <div class='modal fade' id='modal-new' tabindex='1'>
            <div class='modal-dialog'>
              <div class='modal-content'>
                <div class='modal-header'>
                  <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
                  <h4 class='modal-title' id='myModalLabel'>Générer une facture pour une prestation</h4>
                </div> 
                <div class='modal-body'>
                  Voulez-vous faire une facture en partant d'un devis existant?
                </div>
                <div class='modal-footer'> 
                  <a class='btn btn-default' data-dismiss='modal' type='button' onclick='window.location.replace("invoices/new");'>Non</a>
                  <button class='btn btn-default' data-dismiss='modal' type='button' onclick='window.location.replace("/new_invoice");'>Oui</button>
                </div>
              </div>
            </div>
          </div>  
        </div> 
        </div>  
          <p></p>
          <div class='box'>
            <div class='box-content'> 
              <div class="tabbable">
                <ul class="nav nav-tabs nav-tabs-centered">
                  <li class="<%=@tab1%>">
                    <a data-toggle="tab" href="#tabcenter1">
                      <i class="icon-money"></i>
                      Liste des prestations à facturer
                    </a>
                  </li>
                  <li class="<%=@tab2%>">
                    <a data-toggle="tab" href="#tabcenter2">
                      <i class="icon-edit"></i>
                      Liste des factures en cours
                    </a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane <%=@tab1%>" id="tabcenter1">
<div class='box bordered-box orange-border' style='margin-bottom:0;'>
      <div class='box-content box-no-padding'>
        <div class='responsive-table'>
          <div class='scrollable-area'>
            <table class='data-table-column-filter table table-bordered table-striped' style='margin-bottom:0;'>
        <thead>
            <tr>
                <th width="30%">Titre de la prestation</th>
                <th width="20%">Nom du client</th>
                <th width="15%">Montant</th>
                <th width="15%">Date de création</th>
                <th width="15%">% payé</th>
                <th width="5%">Actions</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>Titre du devis</th>
                <th>Nom du client</th>
                <th>Montant</th>
                <th>Date de création</th>
                <th>% payé</th>
                <th>Actions</th>
            </tr>
        </tfoot>
 
        <tbody>
        <% @invoices.each do |invoice| %>
<!-- ruby code -->
          <%
            if invoice.total==nil || invoice.total.to_d==0
              @total=0
              @total_paid=0
              @pourc_paid=0
            else
               @total=invoice.total
               @tax_rate=invoice.tax_rate
               if @tax_rate==nil
                 @tax_rate=0
               end
               @total_paid=invoice.total_paid
               if @total_paid==nil
                  @total_paid=0
               end
              @pourc_paid=(101 * @total_paid.to_d / (@total.to_d*(1+@tax_rate.to_d))).to_i 
            end
              %>
<!-- end ruby code -->
               <tr>
                  <td width="30%">
                          <%= link_to(invoice) do %>
                                    <b>#<%= invoice.id %> <%= invoice.title %></b>

                          <% end %>
                  </td>
                  <td width="20%">
                      <% @client=Client.find_by_id(invoice.client_id) %>
                      <%= link_to(clients_path) do %>
                        <%=@client.first_name.capitalize%> <%=@client.last_name.capitalize%>                                            
                      <% end %>
                  </td>
                  <td width="15%">
                    <%= @total.to_d*(1+@tax_rate) if @total!=nil %> € TTC
                  </td>
                  <td width="15%">
                    <span><%= distance_of_time_in_words(Time.now, invoice.created_at) %></span>
                    <i class='icon-time'></i>
                  </td>
                  <td width="15%">
                      <%= @total_paid.to_d%> € payé TTC
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width:<%=@pourc_paid%>%;"><%=@pourc_paid%>%</div>
                      </div>
                  </td>
                  <td width="5%">
                           <div class='text-right text-center'>
                            <h4>
                            <%= link_to '<i class="icon-trash"></i>'.html_safe, invoice, method: :delete, data: { confirm: 'Etes vous sûr de vouloir supprimer cette facture?', placement: "top", original_title: "Supprimer" },class: 'has-tooltip' %>
                            </h4>
                           </div> 
                  </td>
                </tr>
            <% end %>  
        </tbody>
    </table>
  </div>  
  </div>
  </div>
    </div>  
  </div>

  <!-- table sub invoices -->
  <div class="tab-pane <%=@tab2%>" id="tabcenter2">
    <div class='box bordered-box orange-border' style='margin-bottom:0;'>
      <div class='box-content box-no-padding'>
        <div class='responsive-table'>
          <div class='scrollable-area'>
            <table class='data-table-column-filter table table-bordered table-striped' style='margin-bottom:0;'>
        <thead>
            <tr>
                <th width="5%">#</th>
                <th width="20%">Titre de la facture</th>
                <th width="20%">Nom du client</th>
                <th width="15%">Echéance</th>
                <th width="15%">% facturé</th>
                <th width="15%">Statut</th>
                <th width="10%">Actions</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th width="5%">#</th>
                <th width="20%">Titre de la facture</th>
                <th width="20%">Nom du client</th>
                <th width="15%">Echéance</th>
                <th width="15%">% facturé</th>
                <th width="15%">Statut</th>
                <th width="10%">Actions</th>
            </tr>
        </tfoot>
 
        <tbody>
       <% @sub_inv.each do |k| %>
         <% 
         @invoice=Invoice.find(k.invoice_id)
         @tax_rate=@invoice.tax_rate
         if @tax_rate==nil
          @tax_rate=0
        end
         @total=@invoice.total
         @client=Client.find_by_id(@invoice.client_id)
         if @total!=nil && @total.to_d!=0
               @si_pourc_paid=(100 * k.total.to_d / (@total.to_d*(1+@tax_rate.to_d))).to_i
         else
            @si_pourc_paid=0
        end
        %>
        <tr>
            <td width="5%">
                <div class='text-center'> 
                  # <%=k.id%>
                 </div>
            </td>
            <td width="20%">
              <a href="" onclick="sub_invoiceVisu(<%=k.id%>)"><%=k.title%></a>
            </td>
            <td width="20%">
              <%= link_to(clients_path) do %>
                  <%=@client.first_name.capitalize%> <%=@client.last_name.capitalize%>                                            
              <% end %>
            </td>
            <td width="15%">
                <%=k.endtime.strftime("%d/%m/%Y")%>
            </td> 
            <td width="15%">
              <p><%=k.total.to_s%> € TTC</p>
               <%= @si_pourc_paid %> %
            </td>
            <td width="15%">
              <span class="label <%="label-warning" if k.status==0%><%="label-success" if (k.status==1 && k.endtime>Time.now)%><%="label-important" if (k.status==1 && k.endtime<Time.now)%><%="label-success" if k.status==2%>"><%="Facture non envoyée" if k.status==0%><%="Facture envoyée" if (k.status==1 && k.endtime>Time.now)%><%="Facture en retard" if (k.status==1 && k.endtime<Time.now)%><%="Facture payée" if k.status==2%></span>
            </td>
            <td width="10%">
                          <a data-method="put" href="/sub_invoice_mark_paid/<%=k.id%>" class="<%=
                          if k.status==2
                            "hide"
                          end%>">Marquer payé|</a>
                          <a data-method="put" href="/sub_invoice_mark_unpaid/<%=k.id%>" class="<%=
                          if k.status!=2
                            "hide"
                          end%>">Repasser en non payée</a>
                          <a data-toggle="modal"  href="#modal-envoyer-<%=k.id%>" class="<%=
                          if k.status != 0
                            "hide"
                          end%>">Envoyer|</a><a data-toggle="modal" href="#modal-envoyer-<%=k.id%>" class="<%=
                          if k.status !=1
                            "hide"
                          end%>">Relancer|</a><a data-confirm="Are you sure?" data-method="delete" href="/sub_invoice/<%=k.id%>" rel="nofollow" class="<%=
                          if k.status==2
                            "hide"
                          end%>">Supprimer</a>
       <div class='modal fade' id='modal-envoyer-<%=k.id%>' tabindex='1'>
          <div class='modal-dialog'>
            <div class='modal-content'>
              <div class='modal-header'>
                <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
                <h4 class='modal-title' id='myModalLabel'>Mail pour la facture <%= k.title %> #<%=k.id%></h4>
              </div>
              <div class='modal-body'>
                <form class="form" style="margin-bottom: 0;" method="post" action="#" accept-charset="UTF-8"><input name="authenticity_token" type="hidden" /><div class='form-group'>
                  <label for='email_to'>Envoyé à</label>
                  <p></p>
                  <input class='form-control' id='email_to' placeholder='Envoyé à' type='text' value='<%= @client.email %>'>
                </div>
                <p></p>
                <div class='form-group'>
                  <label for='email_object'>Objet</label>
                                    <p></p>

                  <input class='form-control' id='email_object' placeholder='Objet' type='text' value="<%=
                    if k.status == 0
                      "Facture #"+k.id.to_s+" de l'entreprise ADRIEN BIDINOT pour la prestation "+ @invoice.title
                    else
                      "Relance facture "+k.id.to_s+" de l'entreprise ADRIEN BIDINOT pour la prestation "+@invoice.title
                    end%>">
                                      

                </div>
                <p></p>
                <div class='form-group'>
                  <label for='email_body'>Corps</label>
                                    <p></p>

                  <textarea class='form-control' id='email_body' placeholder='Corps du mail' rows='7'>Bonjour <%= @client.first_name.capitalize %>,
<%=
if k.status == 0
"Veuillez trouver ci-joint le facture de "+k.total.to_s+" euros pour la prestation de "+@invoice.title+". Dans l'attente de votre aimable règlement, je reste à votre disposition pour toute information complémentaire."
else
"Je vous rappelle que la facture # "+k.id.to_s+" est dû pour le "+k.endtime.strftime("%d/%m/%Y").to_s
end%>

En votre aimable règlement,

ADRIEN BIDINOT 
27 rue René BRUN
91330 Yerres
Tel: 06 87 04 79 50
Email: ad-bidinot@hotmail.fr
</textarea>
                </div>
                                  <p></p>

                <hr class='hr-normal'>
                <div class='form-group'>
                  <div class='checkbox'>
                    <label>
                      <input type='checkbox' checked id="attachement">
Envoyer la facture attachée au mail                                </label>
                  </div>
                </div>
                </form>
  
              </div>
              <div class='modal-footer'>
                <button class='btn btn-default' data-dismiss='modal' type='button'>Fermer sans envoyer</button>
                <button class='btn btn-success' data-dismiss='modal' type='button' onclick="sub_invoiceSend(<%= k.id %>,<%= @invoice.id%>);">Envoyer</button>
              </div>
            </div>
          </div>
        </div>

                </td>
              </tr>
        <% end %>
      </tbody>
    </table>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>


  <script type="text/javascript">
  $( document ).ready(function() {
    $("#nav_invoice").toggleClass( 'active');
});
function goSend(siid,iid) {
var siid=siid;
var email_to;
var email_object;
var email_body;
var attachement=false;


if (document.getElementById("email_to")==null){
  email_to="";
}
else{
  email_to=document.getElementById("email_to").value;
}
if (document.getElementById("email_object")==null){
  email_object="";
}
else{
  email_object=document.getElementById("email_object").value;
}
if (document.getElementById("email_body")==null){
  email_body="";
}
else{
  email_body=document.getElementById("email_body").value;
}
if (document.getElementById("attachement")==null){
  attachement=false;
}
else{
  attachement=document.getElementById("attachement").checked;
}
var url_send= "/visu_pdf/sub_invoice_send";  
var request=$.ajax({
url: url_send,
type: "PUT",
beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
data: {m_param: {
         email_object: email_object, 
         email_to: email_to,
         email_body: email_body,
         siid: siid,
         attachement: attachement
       }}
});

request.done(finishSend(iid));
}

function finishSend(iid){
  alert("Facture envoyée");
  var url_show;
  url_show="/invoices";
 window.location.replace(url_show);
}


function sub_invoiceSend(siid,iid){
  goSend(siid,iid);
}

function is_float(mixed_var) {
  return +mixed_var === mixed_var && (!isFinite(mixed_var) || !! (mixed_var % 1));
}

function sub_invVisu(id){
sub_invCreate(id,1);
}
function sub_invoiceVisu(id){
var url="/visu_pdf/sub_invoice_visu."+id
window.open(
  url,
  '_blank'
);
}
function sub_invSave(id){
sub_invCreate(id,2);

}

function sub_invCreate (id,num_function){
  event.preventDefault();
  var url_up="/sub_inv_create/"+id
  var title=document.getElementById("sub_inv_title").value;
  var comment=document.getElementById("sub_inv_comment").value;
  if (document.getElementById("sub_inv_amount").value==undefined || document.getElementById("sub_inv_amount").value==""){
    alert('Merci de vérifier le montant à facturer');
            return false;
  }
  else{
      var sub_inv_amount=document.getElementById("sub_inv_amount").value;
  }
  if (document.getElementById("sub_inv_echeance").value==undefined || document.getElementById("sub_inv_echeance").value==""){
    alert("Merci de vérifier l'échéance de la facture");
            return false;
  }
  else{
      var sub_inv_echeance=document.getElementById("sub_inv_echeance").value;
  }

        var request=$.ajax({
        url: url_up,
        type: "PUT",
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: {si_param: {
                 title: title, 
                 sub_inv_amount: sub_inv_amount,
                 sub_inv_echeance: sub_inv_echeance,
                 invoice_id: id,
                 comment: comment
               }}
        });

if (num_function==2){request.done(gosub_invVisu(id));}
// if (num_function==2){request.done(goSend(id));}


}

function gosub_invVisu(id){
  alert('Facture sauvegardée');
  var url_show;
  url_show="/invoices";
 window.location.replace(url_show);
}


  </script>


<br>