<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>




<div class='row'>
  <div class='col-sm-12'>
    <div class='page-header'>
      <h1 class='pull-left'>
        <i class='icon-envelope'></i>
        <span>Carnet d'adresse</span>
      </h1>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12'>
    <div class='col-sm-6'>
      <p>
      <%= link_to 'Nouveau Client', new_client_path %>
      </p>
    </div> 
    <div class='col-sm-6'>
       <div class="pull-left">
         <a href='#' id='editClient'></a>
       </div>
       <div class="pull-right">
         <a data-confirm="Are you sure?" data-method="delete" href='#' id='deleteClient' rel="nofollow"></a>
       </div>
    </div>


  </div>
</div>
<div class='row'>
  <div class='col-sm-6'>
    <div class='box'>
      <div class='box-content box-no-padding'>
        <div class='clearfix' id='slider'>
          <div class='slider-content'>
            <ul class='list-unstyled'>
              <% @alpha.each do |car| %>
                <% if @clients.where(ln_fl: car)!=[] %>
                  <li id="<%=car%>">
                    <a class='title' name="<%=car%>"><%=car.upcase%></a>
                    <ul class='list-unstyled'>
                      <% @clients.where(ln_fl: car).sort_by{ |m| m.last_name.downcase}.each do |client| %>
                        <li>
                          <a href='#' onclick="clientShow(<%= client.id %>); return false;"> <%= client.last_name %> <%= client.first_name %></a>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-sm-6'>
    <div id='showJSON'></div>
      <div class='col-sm-6'>
        <div class='lead'>
          <i class='icon-user contrast'></i>
          Contact client
        </div>
        <address>
          <strong><div id='full_name'></div></strong>
          <div id='company'></div>
          <a href='mailto:#' id='email'></a>
        </address>
      </div>
      <div class='col-sm-6'>
        <div class='lead'>
          <i class='icon-envelope contrast'></i>
          Adresse client
        </div>
        <address>
          <strong><div id='full_name'></div></strong>
          <div id='address'></div>
          <div id='city'></div>
          <div id='phone'></div>
        </address>
      </div>
    </div>
    <div class='col-sm-6'>
      <div class='clearfix'></div>
      <hr class='hr-normal'>
      <div id="quote_list"></div>
    </div>
  </div>
</div>


<script type="text/javascript">
$('#slider').sliderNav()
</script>

<script type="text/javascript">
  $( document ).ready(function() {
    $("#nav_client").attr('class', 'active');
});


function clientShow(id){

  $( "#full_name" ).empty();
  $( "#email" ).empty();
  $("#email").attr("href", "#");
  $( "#address" ).empty();
  $( "#city" ).empty(); 
   $( "#company" ).empty();
  $( "#phone" ).empty();
  $("#editClient").attr("href", "#");
  $( "#editClient" ).empty();
  $("#deleteClient").attr("href", "#");
  $( "#deleteClient" ).empty();
  $("#quote_list").empty();

  var url_client_up="/clients/"+id+"/edit";
  var url_up="/clients/"+id+".json";
  var url_del="/clients/"+id;

  var request=$.get( url_up, function( data ) {

  $( "#full_name" ).append( "" + capitaliseFirstLetter(data.client.last_name) + " " + capitaliseFirstLetter(data.client.first_name) );
  $( "#company" ).append( "" + capitaliseFirstLetter(data.client.company) );
  $( "#email" ).append( "" + data.client.email );
  $( "#email" ).attr("href", "mailto:"+data.client.email );
  $( "#address" ).append( "" + data.client.address );
  $( "#city" ).append( "" + data.client.postal_code + " " + capitaliseFirstLetter(data.client.city) );
  $( "#phone" ).append( "" + data.client.phone );
  $("#editClient").attr("href", url_client_up);
  $( "#editClient" ).append( "Editer client" );
  $("#deleteClient").attr("href", url_del);
  $( "#deleteClient" ).append( "Supprimer client" );
  data.quotes.forEach(function(a) {
      
      var title=a[0];
      var total=a[1];
      var id=a[2];
      var date=a[3];
      console.log(title);
      $("#quote_list").append('<div class="col-sm-12"><div class="pull-left"><p><a href="/quotes/'+id+'"><strong>  #'+id+' '+title+' </strong></a><p><i class="icon-time"></i><span> '+date+'</span></p></p></div><div class="text-right pull-right"><h5 class="contrast price">'+total+' €</h5></div></div></div><div class="clearfix"></div><hr class="hr-normal">'
        );
      

  });

}, "json" );

}


function capitaliseFirstLetter(string)
{
  if (string==null){
    return ""
  }
  else{
    return string.charAt(0).toUpperCase() + string.slice(1);
  }
}


</script>





